---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Aquí comentaré todo mi proceso en el desarrollo web.</h2>
    {allPosts.slice(0, 3).map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>
