---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Aquí comentaré todo mi proceso en el desarrollo web.</h2>
</BaseLayout>
