---

---

<footer class="footer">
    <div class="nav">
        <a href="/">Inicio</a>
        <a href="/blog">Blog</a>
        <a href="/tags">Etiquetas</a>
    </div>
    <div class="buttons">
        <a href="https://www.linkedin.com/in/hugo-cayon-laso/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Hugocl01" target="_blank" class="github">GitHub</a>
    </div>
    <div class="copyright">
        &copy; 2024 Hugo. Todos los derechos reservados.
    </div>
</footer>

<style>
    footer {
        color: var(--text-a);
        padding: 2rem;
        text-align: center;
        margin-top: 2.5rem;
    }

    footer .nav {
        margin-bottom: 2rem;
    }

    footer .nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 16px;
    }

    footer .buttons {
        margin-bottom: 2rem;
    }

    footer .buttons a {
        background-color: #0073b1;
        color: #fff;
        padding: 8px 12px;
        text-decoration: none;
        margin: 0 8px;
        border-radius: 5px;
    }

    footer .buttons a.github {
        background-color: #333;
    }

    footer .copyright {
        font-size: 1rem;
    }
</style>